.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.0rem;
  justify-content: space-between;
  margin-left: 14rem;
}


.card-img-top.smaller-image {
  max-width: 300px;
  

}
.card-subtitle.mb-2{
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 12rem;
  
}
.products .product-card {
  border: none;
  padding: 0;
 
}


/* ... rest of your CSS ... */

.product-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.cart-badge {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.cart-badge-text {
  margin-left: 5px;
}

.cart-preview {
  position: absolute;
  top: 30px;
  left: -340px; /* Adjust this value as needed */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-preview-item {
  margin-bottom: 5px;
}
.card-text{
  margin-right: 11rem;
  font-size: 1.3rem;

  
}
.card-button {
  margin-right: 11rem;
  width: 7rem;
  padding: 2rem;
  
}
.mr-auto {
  margin-left: 5rem;
}